$main: #BB86FC;
$bk: #121212;
$far: #222;
$middle: #333;
$near: #444;
$error: #CF6679;
body {
    margin: 0;
    font-family: Arial;
}

.topnav {
    overflow: hidden;
    background-color: $middle;
    position: fixed;
    width: 100%;
    transition: top 0.4s ease-in-out;
    z-index: 9999;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: $far;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
        background: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
        width: 100%;
    }
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
        background: none;
    }
    .topnav.responsive a.active {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}