<div class="topnav" id="myTopnav">

    <a routerLink="browse-store" class="active">Inicio                                                          </a>
    <a routerLink="shopping-cart"><i class="fa fa-shopping-cart"></i>                                       </a>
    <a routerLink="product-page/1 "> <i class=" fa fa-shopping-bag "></i> </a>
    <a routerLink="log-in">          Log In                                                                 </a>
    <a routerLink="sign-up">         Sign Up                                                                </a>
    <a routerLink="cms">             CMS                                                                    </a>
    <a href="javascript:void(0); " style="font-size:15px; " class="icon " (click)="myFunction() ">&#9776;   </a>

</div>