<app-navbar></app-navbar>
<div id="main">
    <router-outlet></router-outlet>
    <h2>
        Libros Nuevos
        <h4>
            <div class="container.fluid">
                <div class="row">
                    <div class="col-*-*">
                        <div class="producto">
                            el principito
                        </div>
                    </div>
                    <div class="col-*-*">
                        <div class="producto">
                            100 dias en Sodoma
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-*-*">
                        <div class="producto">
                            Rayuela

                        </div>
                    </div>
                    <div class="col-*-*">
                        <div class="producto">
                            Edipo Rey
                        </div>
                    </div>
                    <div class="col-*-*">
                        <div class="producto">
                            Pedro Paramo
                        </div>
                    </div>
                </div>
            </div>
        </h4>
    </h2>
</div>