<p>footer works!</p>
<footer id="PHL" class="PL-container">
    <div class="footer" id="footer">
        <div class="social-media">
            <div class="col-xs-10 col-sm-8">
                <ul class="social">
                    <a href="#contactar">Contactar</a>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-8">
                <button class="up">
                    <span class="up-icon">
                        ...
                    </span>
                </button>
            </div>
        </div>
    </div>
</footer>