$main: #BB86FC;
$bk: #121212;
$far: #222;
$middle: #333;
$near: #444;
$error: #CF6679;
body {
    font-family: "Lato", sans-serif;
}

.Cms {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80;
    left: 0;
    background-color: rgb(46, 44, 44);
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Cms a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.Cms a:hover {
    color: #f1f1f1;
}

.Cms .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .Cms {
        padding-top: 15px;
    }
    .Cms a {
        font-size: 18px;
    }
}