$main: #BB86FC;
$bk: #121212;
$far: #222;
$middle: #333;
$near: #444;
$error: #CF6679;
$main-text-color: #A9A9B0;
$highlight-color: #D9DDDC;
$selection-color:#990000;
#container {
    background: $far;
    padding: 10px;
    margin: 200px 0;
}

#container h4 {
    padding-left: 1rem;
}

ul.product-row {
    padding: 0;
    margin: 0;
    list-style: none;
}

.search-bar-container {
    padding: 15px 0;
    margin: 25px 0;
    width: auto;
}

.center-x {
    text-align: center;
    margin: 0px auto;
}

.search-box input[type="text"] {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 300px;
}

.search-box {
    background: white;
    color: black;
    padding: 10px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
}

.search-box i {
    padding: 15px
}

.search-box i:hover {
    cursor: pointer;
    color: $main-text-color;
}

.action-wrapper {
    background-color: $near;
    border-radius: 0px 0px 5px 5px;
}

ul.product-row li a {
    text-decoration: none;
}

ul.product-row li a:hover {
    cursor: pointer;
}

ul.product-row li a img {
    width: 100%;
    margin-bottom: 10px;
}

.product-container {
    width: 20%;
    padding: 0 1rem;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-info {
    overflow: hidden;
    padding: 0 10px 10px 10px;
}

.product-info h5,
.product-info p {
    text-overflow: ellipsis;
}

@media screen and (max-width:1333px) {
    .product-container {
        width: 20%;
    }
}

@media screen and (max-width:1200px) {
    .product-container {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .product-container {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .product-container {
        width: 100%;
        padding: 0;
    }
}